dist: xenial
sudo: false
language: python
matrix:
  fast_finish: true
  include:
    # Python version is just for the look on travis.
    - python: 3.6
      env: TOXENV=flake8

    - python: 3.6
      env: TOXENV=sphinx

    - python: 3.6
      env: TOXENV=readme

    - python: 2.7
      env: TOXENV=py27-django111

    - python: 3.4
      env: TOXENV=py34-django111

    - python: 3.4
      env: TOXENV=py34-django20

    - python: 3.5
      env: TOXENV=py35-django111

    - python: 3.5
      env: TOXENV=py35-django20

    - python: 3.5
      env: TOXENV=py35-django21

    - python: 3.5
      env: TOXENV=py35-django22

    - python: 3.6
      env: TOXENV=py36-django111

    - python: 3.6
      env: TOXENV=py36-django20

    - python: 3.6
      env: TOXENV=py36-django21

    - python: 3.6
      env: TOXENV=py36-django22

    - python: 3.7
      env: TOXENV=py37-django20

    - python: 3.7
      env: TOXENV=py37-django111

    - python: 3.7
      env: TOXENV=py37-django21

    - python: 3.7
      env: TOXENV=py37-django22

before_install:
  - if [ -z $DOCUSIGN_INTEGRATOR_KEY ]; then echo "Missing docusign integrator key"; exit 1; fi

install:
  - make develop

script:
  - make test

