{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Create signature from template" %}{% endblock %}
{% block title %}{% trans "Create signature from template" %}{% endblock %}

{% block content %}
  <p>{% trans "Create a DocuSign envelope from template." %}</p>
  <p>{% trans "Please choose an existing template id, which contains exactly two roles." %}</p>
  <form method="POST" enctype="multipart/form-data" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create signature enveloppe</button>
  </form>
{% endblock %}
