{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{{ block.super }}{% endblock %}
{% block title %}{% trans "Welcome to django-docusign demo!" %}{% endblock %}

{% block content %}
  {% if not has_settings %}
    <a href="{% url 'settings' %}">{% trans "Setup DocuSign settings" %}</a>
  {% else %}
    <ul>
      <li>
        <a href="{% url 'settings' %}">{% trans "Change DocuSign settings" %}</a>
      </li>
      <li>
        <a href="{% url 'create_signature' %}">{% trans "Create signature" %}</a>
      </li>
      <li>
        <a href="{% url 'create_signature_template' %}">{% trans "Create signature from template" %}</a>
      </li>
    </ul>
  {% endif %}
  {% if latest_signatures %}
    <h2>{% trans "Lastest signatures" %}</h2>
    <div>
      {% for signature in latest_signatures %}
        <dl>
          <dt>{% trans "pk" %}</dt>
          <dd>{{ signature.pk }}<dd>
          <dt>{% trans "document" %}</dt>
          <dd>
            {% if signature.document %}
              <a href="{{ signature.document.url }}">{{ signature.document.name }}</a>
            {% endif %}
          <dd>
          <dt>{% trans "signers" %}</dt>
          <dd>
            <ul>
              {% for signer in signature.signers.all %}
                <li>{{ signer.email }} =&gt; <a href="{{ signer.get_absolute_url }}">{% trans "sign" %}</a> [{{ signer.status }}]</li>
              {% endfor %}
            </ul>
          </dd>
          <dt>{% trans "backend" %}</dt>
          <dd>{{ signature.signature_backend.code }}<dd>
          <dt>{% trans "backend ID" %}</dt>
          <dd>{{ signature.signature_backend_id }}<dd>
        </dl>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
